.infinite-scroll {
	.pagination {
		ul,
		.current-page-label {
			display: none;
		}
	}
	.items-per-page {
		display: none;
	}
	.search-result-content .infinite-scroll-loading {
		text-align: center;
		background: url("../images/infinite-loading-indicator.gif") center no-repeat;
		height: 35px;
		width: 100%;
	}
}

.disable-infinite-scroll .search-result-content .page-element {
	display: none;
}
